<!-- Wappler include head-page="layouts/main" is="dmx-app" id="index" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="local" components="{dmxBootstrap4Modal:{},dmxSummernote:{},dmxValidator:{},dmxFormatter:{},dmxStateManagement:{},dmxNotifications:{},dmxDatastore:{},dmxDataTraversal:{},dmxBootstrap4Toasts:{}}" -->
<dmx-value id="local_storage" dmx-bind:value="index_local.data.get_comment"></dmx-value>
<dmx-datastore id="data_store"></dmx-datastore>
<dmx-notifications id="notifies1"></dmx-notifications>
<dmx-local-manager id="index_local"></dmx-local-manager>
<dmx-datetime id="datetimepicker" utc="true"></dmx-datetime>

<dmx-serverconnect id="fetch_all_comments" url="/api/get_data/all_comments" dmx-on:success="index_local.set('get_comment',fetch_all_comments.data.get_all_comments)"></dmx-serverconnect>

<div class="modal" id="add_comment_modal" is="dmx-bs4-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="comment_form" dmx-on:submit.prevent="run([{runJS:{function:'onSubmit',name:'onSubmit'}},{run:{action:`add_comment_modal.hide()`}}])">
                    <input id="datetime" name="datetime" type="hidden" class="form-control" dmx-bind:value="datetimepicker.datetime.formatDate('dd/MM/yyyy')">
                    <input id="datetime1" name="datetime1" type="hidden" class="form-control" dmx-bind:value="datetimepicker.datetime">

                    <div class="form-group">
                        <label for="name" class="form-label">Your Name</label>
                        <input type="text" class="form-control form-input" id="name" name="name" aria-describedby="input1_help" placeholder="Enter some text" required="" dmx-bind:value="'Jhone Doe'">
                        <small id="input1_help" class="form-text text-muted form-input-info">You can give any random name</small>
                    </div>

                    <div class="form-group">
                        <label for="url" class="form-label">Image Url</label>
                        <input type="text" class="form-control form-input" id="url" name="url" aria-describedby="input1_help" placeholder="Enter some text" required="" data-rule-url=""
                            dmx-bind:value="'https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg'">
                        <small id="input1_help1" class="form-text text-muted form-input-info">Please submit a image url from the web</small>
                    </div>

                    <div class="form-group">
                        <label for="url" class="form-label">Comment message</label>
                        <textarea id="comment" class="form-control form-input" required="" name="comment" dmx-bind:value="'This is test message.'"></textarea>
                        <small id="input1_help2" class="form-text text-muted form-input-info">Write your comments</small>
                    </div>

                    <div class="form-buttons">
                        <button id="btn2" class="from-btn btn btn-primary" type="submit">Submit</button>
                        <button id="btn3" class="form-btn btn" type="reset">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="heading-section">
    <h1 class="heading-primary">PWA Comments</h1>
    <button id="btn1" class="add-btn btn text-light btn-primary" data-toggle="modal" data-target="#add_comment_modal">Add New Comment&nbsp;&nbsp;<i class="fa fa-plus-circle"></i>&nbsp;</button>
</section>

<section class="card-section">
    <div class="container">
        <div class="d-flex no-comments justify-content-center align-items-center" dmx-show="fetch_all_comments.state.executing">
            <div class="spinner-border" role="status">
            </div>
        </div>
        <div class="d-flex no-comments justify-content-center align-items-center" dmx-hide="(fetch_all_comments.state.executing || index_local.data.get_comment.hasItems())">
            <p class="paragraph">Be the first person to comment</p>
        </div>
        <div class="row w-100 justify-content-center" is="dmx-repeat" id="repeat1" key="id" dmx-bind:repeat="index_local.data.get_comment" dmx-hide="fetch_all_comments.state.executing">

            <div class="col-12 col-md-10">
                <div class="card pl-2 pr-2">
                    <div class="row justify-content-around w-100">
                        <div class="col-2 col-md-1">
                            <img src="" alt="profile" class="card-img card__image img-fluid" dmx-bind:src="image">
                        </div>
                        <div class="col card-content">
                            <h4 class="card-title">{{name}}</h4>
                            <p class="card-date">{{datetime}}</p>
                            <p class="paragraph">{{message}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- <a href="/help">Help</a> -->
<meta name="ac:route" content="/">
<!-- New Wappler Page -->